* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome, FiraCode, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(22, 22, 29, 0.95);
    border-bottom: 3px solid rgba(154, 165, 206, 0.5);
    color: #c0caf5;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #c0caf5;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
    background: rgba(122, 162, 247, 0.2);
    box-shadow: inset 0 -3px #7aa2f7;
}

#workspaces button.focused {
    background-color: #16161d;
    box-shadow: inset 0 -3px #9aa5ce;
}

#workspaces button.urgent {
    background-color: #f7768e;
}

#mode {
    background-color: #16161d;
    border-bottom: 3px solid #9aa5ce;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 10px;
    margin: 0 4px;
    color: #c0caf5;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-clock,
#clock {
    background-color: #16161d;
}

#battery {
    background-color: #7aa2f7;
    color: #16161d;
}

#battery.charging {
    color: #16161d;
    background-color: #9ece6a;
}

@keyframes blink {
    to {
        background-color: #c0caf5;
        color: #16161d;
    }
}

#battery.critical:not(.charging) {
    background-color: #f7768e;
    color: #c0caf5;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #16161d;
}

#backlight {
    background-color: #e0af68;
    color: #16161d;
}

#network {
    background-color: #7aa2f7;
    color: #16161d;
}

#network.disconnected {
    background-color: #f7768e;
    color: #c0caf5;
}

#pulseaudio {
    background-color: #e0af68;
    color: #16161d;
}

#pulseaudio.muted {
    background-color: #565f89;
    color: #c0caf5;
}

#tray {
    background-color: #7aa2f7;
    color: #16161d;
}

#idle_inhibitor {
    background-color: #565f89;
    color: #c0caf5;
}

#idle_inhibitor.activated {
    background-color: #ff9e64;
    color: #16161d;
}
